{
    "tabWidth": 4,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": true,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
